<html>
    <head>
        <title>SPCRMS</title>
        <!-- Bootstrap CSS -->
        <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid ps-0">
                <a class="navbar-brand text-left" href="https://www.amsolar.my/">
                    <div class="row" style="--bs-gutter-x:0;">
                        <div class="col text-center" style="width:300px;">
                            <img src="https://www.amsolar.my/wp-content/uploads/2018/04/amsolar-logo-outline-RGB.png" alt="" width="136" height="82">
                        </div>  
                        <span class="col mt-4 ms-5">
                            Solar Panel Cleaning Robot Monitoring System
                        </span>
                    </div>
                </a>
            </div>
        </nav>
        <%- body %>
    </body>
</html>